body {
    background-color: var(--lumo-contrast-10pct);
}

.main {
    background-color: white;
    border: 1px solid var(--lumo-contrast-10pct);
    border-radius: 10px;
    max-width: 1150px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.topic-form {
    padding: 20px;
    border-left: 1px solid var(--lumo-contrast-10pct);
    max-width: 400px;
}